<p id="notice"><%= notice %></p>

<h1>Matchers</h1>

<%= grid(@matchers) do |g|
  g.column name: 'Uri pattern', attribute: 'uri_pattern'
  g.column name: 'Url replacement pattern', attribute: 'url_replacement_pattern'
  g.column name: 'Url replacement pattern for image', attribute: 'url_replacement_pattern_for_image'
  g.column name: 'XPATH to image', attribute: 'xpath_to_image'
  g.column name: 'Name', attribute: 'name'
  g.column name: 'Priority', attribute: 'priority'
  g.column { |m| link_to 'Show', m }
  g.column { |m| link_to 'Edit', edit_matcher_path(m) }
  g.column { |m| link_to 'Destroy', m, method: :delete, data: { confirm: 'Are you sure?' } }
end -%>

<%= link_to 'New Matcher', new_matcher_path %>
